<!DOCTYPE html>

<head>
    <title>HomePage</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="home.css">
     
    </head>
<body>
    <div class="main" >
        <div >
          <row>
            <col>
           <a href="/login">
         <button class="btn btn-outline-primary">Login</button>
           </a>  
        </col>
            <col>
           <a href="/register">
                 <button class="btn btn-outline-dark">Register</button>
           </a>
        </col>
    </row>
           </div>
    
        </div>
  
</body>

</html>




    
</body>
</html>